@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.emscripten{
    animation: doom-float 3s ease-in-out infinite alternate,
               doom-rotate 6s ease-in-out infinite alternate,
               doom-breath 8s ease-in-out infinite alternate;
}


@keyframes doom-float {
  0% {
    transform: translate(-8px, -6px);
  }
  50% {
    transform: translate(6px, -10px);
  }
  100% {
    transform: translate(8px, 6px);
  }
}

@keyframes doom-rotate {
  0% {
    rotate: -1.5deg;
  }
  50% {
    rotate: 1deg;
  }
  100% {
    rotate: -1deg;
  }
}
@keyframes doom-breath {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.3;
  }
}
